/* sections */
.body-home {
  background-color: #171717;
}

header {
  display: flex;
  margin-left: 15px;
  margin-right: 0px;
}

@media (max-width: 900px) {
  header {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
  }
  .nav-ui {
    flex-direction: column;
  }
  .nav-div-user-info {
    margin-left: 62px;
  }
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-ui {
  display: flex;
  list-style: none;
  margin: 30px;
  margin-top: 50px;
  font-weight: 800;
}

.nav-li {
  padding-right: 50px;
}

.nav-div-user-info {
  display: block;
  margin-top: 10px;
  margin-right: 20px;
  text-align: right;
}

.main-login {
  display: flex;
  min-height: 73vh;
  background-color: #212121;
  padding: 75px 100px;
}

footer {
  display: flex;
  margin-right: 50px;
  justify-content: center;
}

/* end of sections */
/* notes page */
.main-notes {
  background-color: #2f2f2f;
  display: flex;
  min-height: 100vh;
}

.section-notes {
  width: 100px;
  margin: 0px 0px;
  background-color: #212121;
  border-right: 5px solid #171717;
  white-space: nowrap;
  overflow: auto;
  text-overflow: clip;
  resize: horizontal;
}

.section-blackboard {
  padding: 10px;
  width: 90%;
  position: relative;
}

.ul-notes {
  list-style: none;
  padding-left: 0;
}

.li-notes {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.li-notes:hover {
  background-color: #2f2f2f;
  cursor: pointer;
}

/* end of notes page */
/* text, buttons, images */
.txt-green, .btn-green:disabled, .btn-green, a, nav, footer {
  color: #09ed92;
  font-family: sans-serif;
}

.txt-white, .input-txt, .input-note-textarea, .btn-green:hover, a:hover, .main-login, .main-notes {
  color: #eeeeee;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.btn-green {
  background-color: #2f2f2f;
}

.btn-green:disabled {
  background-color: #2f2f2f;
  opacity: 0.6;
}

.input-txt, .input-note-textarea {
  /*text box*/
  background-color: rgb(47, 47, 47);
  border: none;
  border-radius: 20px;
  /*text*/
}

.input-note-textarea {
  background-color: rgba(47, 47, 47, 0.35);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 1px;
  resize: none;
  flex: 1;
  padding: 8px;
}

.input-note-textarea:hover {
  border: #212121 2px solid;
}

.input-note-textarea:focus {
  border: #212121 2px solid;
  outline: none;
}

.div-note {
  position: absolute;
  min-height: 100px;
  display: flex;
  resize: both;
  overflow: auto;
  flex-direction: column;
  width: 300px;
  height: 200px;
}

.div-note-grabber {
  flex-shrink: 0;
  opacity: 0;
  max-height: min-content;
  background-color: #212121;
  text-align: center;
  user-select: none;
}

.div-note-delete {
  float: right;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: large;
  width: 30px;
  height: 20px;
  padding-left: 7px;
  padding-right: 7px;
  margin-top: 3px;
  margin-right: 3px;
}

.div-note-delete:hover {
  border: 1px solid white;
  cursor: default;
  background-color: red;
}

.div-note:hover .div-note-grabber {
  opacity: 1;
  cursor: move;
}

.div-note:hover .input-note-textarea {
  border: #212121 2px solid;
}

/* WebKit browsers (Chrome, Safari) */
.scrollbar-dark, .section-notes, .input-note-textarea {
  color: inherit;
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #212121; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

::-webkit-resizer {
  background: #555; /* Color of the thumb on hover */
}

img {
  pointer-events: none;
}

.img-hero {
  border-radius: 30px;
  margin-left: 150px;
}

/* end of text, buttons, images */

/*# sourceMappingURL=main.css.map */
